# WeatherPy
----

### Analysis
* As expected, the weather becomes significantly warmer as one approaches the equator (0 Deg. Latitude). More interestingly, however, is the fact that the southern hemisphere tends to be warmer this time of year than the northern hemisphere. This may be due to the tilt of the earth.
* There is no strong relationship between latitude and cloudiness. However, it is interesting to see that a strong band of cities sits at 0, 80, and 100% cloudiness.
* There is no strong relationship between latitude and wind speed. However, in northern hemispheres there is a flurry of cities with over 20 mph of wind.

---

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [7]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time


# Import API key
# import api_keys
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy
from pprint import pprint

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [8]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=100)
lngs = np.random.uniform(low=-180.000, high=180.000, size=100)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

73

In [9]:
cities2=cities[0:50]
cities2

['bredasdorp',
 'kapaa',
 'avarua',
 'east london',
 'caravelas',
 'amambai',
 'shangqiu',
 'ponta do sol',
 'pedernales',
 'arraial do cabo',
 'saleaula',
 'flin flon',
 'rikitea',
 'punta arenas',
 'cape town',
 'bandarbeyla',
 'carnarvon',
 'buraydah',
 'labuhan',
 'husavik',
 'jamestown',
 'khatanga',
 'ushuaia',
 'bethel',
 'shingu',
 'albany',
 'barrow',
 'castro',
 'kaitangata',
 'mokhsogollokh',
 'faanui',
 'port said',
 'palanga',
 'villeneuve-la-garenne',
 'sechura',
 'kamiiso',
 'butaritari',
 'qaanaaq',
 'mazatlan',
 'weinan',
 'qasigiannguit',
 'yamada',
 'pervomayskiy',
 'mataura',
 'bokoro',
 'parabel',
 'busselton',
 'bonthe',
 'thompson',
 'atuona']

In [10]:
print(lat_lngs)

<zip object at 0x000001CD4003E5C8>

In [11]:
len(lats)

100

In [12]:
len(lngs)

100

In [13]:
coordinates_df = pd.DataFrame({'Latitude': lats, 'Longitude': lngs})
coordinates_df.tail()

     Latitude   Longitude
95 -86.555286 -137.745496
96   3.867021  -15.192145
97 -55.824003   90.848136
98  30.979064   74.607956
99  46.654577  167.357142

In [14]:
cities_df = pd.DataFrame({'City': cities})
cities_df.tail()

                      City
68             new norfolk
69  grand river south east
70                 karauli
71                firozpur
72              nikolskoye

In [15]:
cities_weather = cities_df.copy()
cities_weather.head()

          City
0   bredasdorp
1        kapaa
2       avarua
3  east london
4    caravelas

In [16]:
#setting up additional columns in dataframe
cities_weather ['Country'] = ""
cities_weather ['Date'] = ""
cities_weather ['Latitude'] = ""
cities_weather ['Longitude'] = ""
cities_weather ['Cloudiness'] = ""
cities_weather ['Max_Temp'] = ""
cities_weather ['Humidity'] = ""
cities_weather ['Wind_Speed'] = ""

cities_weather.head()

,City,Country,Date,Latitude,Longitude,Cloudiness,Max_Temp,Humidity,Wind_Speed
0,bredasdorp,,,,,,,,
1,kapaa,,,,,,,,
2,avarua,,,,,,,,
3,east london,,,,,,,,
4,caravelas,,,,,,,,

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [17]:
# import openweathermapy.core as owm
# Base url and define units
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"

# Query url
query_url = f"{url}appid={api_key}&units={units}&q="

# use iterrows to iterate through pandas dataframe
for index, row in cities_weather.iterrows():
    print(index)

    cityrow = row['City']
    
    try:
        response = requests.get(query_url + cityrow).json()
        pprint(response)

        results = response

        cities_weather.loc[index, 'Country'] = results['sys']['country']
        cities_weather.loc[index, 'Date'] = results['dt']
        cities_weather.loc[index, 'Latitude'] = results['coord']['lat']
        cities_weather.loc[index, 'Longitude'] = results['coord']['lon']
        cities_weather.loc[index, 'Cloudiness'] = results['clouds']['all']
        cities_weather.loc[index, 'Max_Temp'] = results['main']['temp_max']
        cities_weather.loc[index, 'Humidity'] = results['main']['humidity']
        cities_weather.loc[index, 'Wind_Speed'] = results['wind']['speed']
        print()
        
    except (KeyError, IndexError):
        print("Data not found... skipping.")
        print("------------")

0
{'base': 'stations',
 'clouds': {'all': 64},
 'cod': 200,
 'coord': {'lat': -34.53, 'lon': 20.04},
 'dt': 1554336000,
 'id': 1015776,
 'main': {'humidity': 87,
          'pressure': 1010,
          'temp': 57.2,
          'temp_max': 57.2,
          'temp_min': 57.2},
 'name': 'Bredasdorp',
 'sys': {'country': 'ZA',
         'id': 1966,
         'message': 0.0045,
         'sunrise': 1554353645,
         'sunset': 1554395487,
         'type': 1},
 'weather': [{'description': 'broken clouds',
              'icon': '04n',
              'id': 803,
              'main': 'Clouds'}],
 'wind': {'deg': 360, 'speed': 5.82}}

1
{'base': 'stations',
 'clouds': {'all': 20},
 'cod': 200,
 'coord': {'lat': 22.08, 'lon': -159.32},
 'dt': 1554336957,
 'id': 5848280,
 'main': {'humidity': 54,
          'pressure': 1022,
          'temp': 77.04,
          'temp_max': 78.8,
          'temp_min': 73.99},
 'name': 'Kapaa',
 'sys': {'country': 'US',
         'id': 7873,
         'message': 0.0045,
         'sunrise': 1554308880,
         'sunset': 1554353562,
         'type': 1},
 'visibility': 16093,
 'weather': [{'description': 'few clouds',
              'icon': '02n',
              'id': 801,
              'main': 'Clouds'}],
 'wind': {'deg': 50, 'speed': 12.75}}

2
{'base': 'stations',
 'clouds': {'all': 80},
 'cod': 200,
 'coord': {'lat': -21.21, 'lon': -159.78},
 'dt': 1554334200,
 'id': 4035715,
 'main': {'humidity': 69,
          'pressure': 1012,
          'temp': 82.4,
          'temp_max': 82.4,
          'temp_min': 82.4},
 'name': 'Avarua',
 'sys': {'country': 'CK',
         'id': 7271,
         'message': 0.0044,
         'sunrise': 1554310019,
         'sunset': 1554352645,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'broken clouds',
              'icon': '04d',
              'id': 803,
              'main': 'Clouds'}],
 'wind': {'deg': 240, 'speed': 8.05}}

3
{'base': 'stations',
 'clouds': {'all': 36},
 'cod': 200,
 'coord': {'lat': -33.02, 'lon': 27.91},
 'dt': 1554336924,
 'id': 1006984,
 'main': {'grnd_level': 1001.09,
          'humidity': 95,
          'pressure': 1005.68,
          'sea_level': 1005.68,
          'temp': 74.84,
          'temp_max': 74.84,
          'temp_min': 74.84},
 'name': 'East London',
 'rain': {'3h': 0.485},
 'sys': {'country': 'ZA',
         'message': 0.0031,
         'sunrise': 1554351708,
         'sunset': 1554393647},
 'weather': [{'description': 'light rain',
              'icon': '10n',
              'id': 500,
              'main': 'Rain'}],
 'wind': {'deg': 21.0015, 'speed': 23.4}}

4
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': -17.73, 'lon': -39.27},
 'dt': 1554337055,
 'id': 3466980,
 'main': {'grnd_level': 1012.53,
          'humidity': 100,
          'pressure': 1012.6,
          'sea_level': 1012.6,
          'temp': 81.41,
          'temp_max': 81.41,
          'temp_min': 81.41},
 'name': 'Caravelas',
 'sys': {'country': 'BR',
         'message': 0.0033,
         'sunrise': 1554281009,
         'sunset': 1554323822},
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 65.0015, 'speed': 8.41}}

5
{'base': 'stations',
 'clouds': {'all': 64},
 'cod': 200,
 'coord': {'lat': -23.11, 'lon': -55.23},
 'dt': 1554337055,
 'id': 3472391,
 'main': {'grnd_level': 963.81,
          'humidity': 93,
          'pressure': 1008.12,
          'sea_level': 1008.12,
          'temp': 72.77,
          'temp_max': 72.77,
          'temp_min': 72.77},
 'name': 'Amambai',
 'sys': {'country': 'BR',
         'message': 0.0036,
         'sunrise': 1554284968,
         'sunset': 1554327522},
 'weather': [{'description': 'broken clouds',
              'icon': '04n',
              'id': 803,
              'main': 'Clouds'}],
 'wind': {'deg': 23.5015, 'speed': 10.2}}

6
{'base': 'stations',
 'clouds': {'all': 56},
 'cod': 200,
 'coord': {'lat': 34.42, 'lon': 115.65},
 'dt': 1554337056,
 'id': 1783934,
 'main': {'grnd_level': 1015.97,
          'humidity': 70,
          'pressure': 1020.56,
          'sea_level': 1020.56,
          'temp': 53.33,
          'temp_max': 53.33,
          'temp_min': 53.33},
 'name': 'Shangqiu',
 'sys': {'country': 'CN',
         'message': 0.0038,
         'sunrise': 1554328879,
         'sunset': 1554374369},
 'weather': [{'description': 'broken clouds',
              'icon': '04d',
              'id': 803,
              'main': 'Clouds'}],
 'wind': {'deg': 165.001, 'speed': 6.73}}

7
{'base': 'stations',
 'clouds': {'all': 68},
 'cod': 200,
 'coord': {'lat': -20.63, 'lon': -46},
 'dt': 1554337056,
 'id': 3453439,
 'main': {'grnd_level': 912.85,
          'humidity': 90,
          'pressure': 1011.12,
          'sea_level': 1011.12,
          'temp': 67.64,
          'temp_max': 67.64,
          'temp_min': 67.64},
 'name': 'Ponta do Sol',
 'rain': {'3h': 0.515},
 'sys': {'country': 'BR',
         'message': 0.006,
         'sunrise': 1554282692,
         'sunset': 1554325368},
 'weather': [{'description': 'light rain',
              'icon': '10n',
              'id': 500,
              'main': 'Rain'}],
 'wind': {'deg': 159.001, 'speed': 4.83}}

8
{'base': 'stations',
 'clouds': {'all': 68},
 'cod': 200,
 'coord': {'lat': 0.07, 'lon': -80.05},
 'dt': 1554337056,
 'id': 3653307,
 'main': {'grnd_level': 982.53,
          'humidity': 78,
          'pressure': 1011.68,
          'sea_level': 1011.68,
          'temp': 76.55,
          'temp_max': 76.55,
          'temp_min': 76.55},
 'name': 'Pedernales',
 'rain': {'3h': 0.1375},
 'sys': {'country': 'EC',
         'message': 0.0038,
         'sunrise': 1554290399,
         'sunset': 1554334002},
 'weather': [{'description': 'light rain',
              'icon': '10n',
              'id': 500,
              'main': 'Rain'}],
 'wind': {'deg': 282.501, 'speed': 9.53}}

9
{'base': 'stations',
 'clouds': {'all': 20},
 'cod': 200,
 'coord': {'lat': -22.97, 'lon': -42.02},
 'dt': 1554332400,
 'id': 3471451,
 'main': {'humidity': 83,
          'pressure': 1011,
          'temp': 73.4,
          'temp_max': 73.4,
          'temp_min': 73.4},
 'name': 'Arraial do Cabo',
 'sys': {'country': 'BR',
         'id': 8343,
         'message': 0.0038,
         'sunrise': 1554281793,
         'sunset': 1554324357,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'few clouds',
              'icon': '02n',
              'id': 801,
              'main': 'Clouds'}],
 'wind': {'deg': 40, 'speed': 3.36}}

10
{'cod': '404', 'message': 'city not found'}
City not found... skipping.
------------
11
{'base': 'stations',
 'clouds': {'all': 40},
 'cod': 200,
 'coord': {'lat': 54.77, 'lon': -101.88},
 'dt': 1554332400,
 'id': 5954718,
 'main': {'humidity': 35,
          'pressure': 1020,
          'temp': 23,
          'temp_max': 23,
          'temp_min': 23},
 'name': 'Flin Flon',
 'sys': {'country': 'CA',
         'id': 782,
         'message': 0.0042,
         'sunrise': 1554293673,
         'sunset': 1554341205,
         'type': 1},
 'visibility': 24140,
 'weather': [{'description': 'scattered clouds',
              'icon': '03d',
              'id': 802,
              'main': 'Clouds'}],
 'wind': {'deg': 150, 'speed': 6.93}}

12
{'base': 'stations',
 'clouds': {'all': 20},
 'cod': 200,
 'coord': {'lat': -23.12, 'lon': -134.97},
 'dt': 1554336927,
 'id': 4030556,
 'main': {'grnd_level': 1018.45,
          'humidity': 100,
          'pressure': 1018.56,
          'sea_level': 1018.56,
          'temp': 75.29,
          'temp_max': 75.29,
          'temp_min': 75.29},
 'name': 'Rikitea',
 'sys': {'country': 'PF',
         'message': 0.0035,
         'sunrise': 1554304110,
         'sunset': 1554346647},
 'weather': [{'description': 'few clouds',
              'icon': '02n',
              'id': 801,
              'main': 'Clouds'}],
 'wind': {'deg': 109.501, 'speed': 19.04}}

13
{'base': 'stations',
 'clouds': {'all': 75},
 'cod': 200,
 'coord': {'lat': -53.16, 'lon': -70.91},
 'dt': 1554336154,
 'id': 3874787,
 'main': {'humidity': 65,
          'pressure': 992,
          'temp': 41,
          'temp_max': 41,
          'temp_min': 41},
 'name': 'Punta Arenas',
 'sys': {'country': 'CL',
         'id': 8487,
         'message': 0.0033,
         'sunrise': 1554289772,
         'sunset': 1554330243,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'broken clouds',
              'icon': '04n',
              'id': 803,
              'main': 'Clouds'}],
 'wind': {'deg': 250, 'speed': 20.8}}

14
{'base': 'stations',
 'clouds': {'all': 20},
 'cod': 200,
 'coord': {'lat': -33.93, 'lon': 18.42},
 'dt': 1554336790,
 'id': 3369157,

 'main': {'humidity': 87,
          'pressure': 1012,
          'temp': 57.54,
          'temp_max': 59,
          'temp_min': 55.99},
 'name': 'Cape Town',
 'sys': {'country': 'ZA',
         'id': 1899,
         'message': 0.0036,
         'sunrise': 1554354015,
         'sunset': 1554395894,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'few clouds',
              'icon': '02n',
              'id': 801,
              'main': 'Clouds'}],
 'wind': {'deg': 20, 'speed': 4.7}}

15
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 9.49, 'lon': 50.81},
 'dt': 1554337058,
 'id': 64814,
 'main': {'grnd_level': 1005.97,
          'humidity': 100,
          'pressure': 1010.96,
          'sea_level': 1010.96,
          'temp': 78.98,
          'temp_max': 78.98,
          'temp_min': 78.98},
 'name': 'Bandarbeyla',
 'sys': {'country': 'SO',
         'message': 0.0028,
         'sunrise': 1554345157,
         'sunset': 1554389208},
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 204.001, 'speed': 0.92}}

16
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': -30.97, 'lon': 22.13},
 'dt': 1554336934,
 'id': 1014034,
 'main': {'grnd_level': 861.09,
          'humidity': 43,
          'pressure': 1010.96,
          'sea_level': 1010.96,
          'temp': 49.01,
          'temp_max': 49.01,
          'temp_min': 49.01},
 'name': 'Carnarvon',
 'sys': {'country': 'ZA',
         'message': 0.0034,
         'sunrise': 1554353035,
         'sunset': 1554395094},
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 267.001, 'speed': 3.6}}

17
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 26.33, 'lon': 43.97},
 'dt': 1554332400,
 'id': 107304,
 'main': {'humidity': 36,
          'pressure': 1013,
          'temp': 62.6,
          'temp_max': 62.6,
          'temp_min': 62.6},
 'name': 'Buraydah',
 'sys': {'country': 'SA',
         'id': 7411,
         'message': 0.0032,
         'sunrise': 1554346340,
         'sunset': 1554391308,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 360, 'speed': 4.7}}

18
{'base': 'stations',
 'clouds': {'all': 8},
 'cod': 200,
 'coord': {'lat': -2.54, 'lon': 115.51},
 'dt': 1554337058,
 'id': 1641899,
 'main': {'grnd_level': 986.53,
          'humidity': 82,
          'pressure': 1011.96,
          'sea_level': 1011.96,
          'temp': 77.63,
          'temp_max': 77.63,
          'temp_min': 77.63},
 'name': 'Labuhan',
 'sys': {'country': 'ID',
         'message': 0.0034,
         'sunrise': 1554329916,
         'sunset': 1554373400},
 'weather': [{'description': 'clear sky',
              'icon': '02d',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 9.50146, 'speed': 2.04}}

19
{'base': 'stations',
 'clouds': {'all': 8},
 'cod': 200,
 'coord': {'lat': 50.56, 'lon': -96.99},
 'dt': 1554336927,
 'id': 5961417,
 'main': {'humidity': 38,
          'pressure': 1026,
          'temp': 32.54,
          'temp_max': 33.01,
          'temp_min': 32},
 'name': 'Husavik',
 'snow': {},
 'sys': {'country': 'CA',
         'id': 19218,
         'message': 0.0041,
         'sunrise': 1554292792,
         'sunset': 1554339739,
         'type': 3},
 'weather': [{'description': 'clear sky',
              'icon': '02n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 318.001, 'speed': 4.83}}

20
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': -33.21, 'lon': 138.6},
 'dt': 1554336880,
 'id': 2069194,
 'main': {'grnd_level': 967.97,
          'humidity': 41,
          'pressure': 1025.6,
          'sea_level': 1025.6,
          'temp': 72.59,
          'temp_max': 72.59,
          'temp_min': 72.59},
 'name': 'Jamestown',
 'sys': {'country': 'AU',
         'message': 0.0035,
         'sunrise': 1554325135,
         'sunset': 1554367100},
 'weather': [{'description': 'clear sky',
              'icon': '01d',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 65.5015, 'speed': 7.74}}

21
{'base': 'stations',
 'clouds': {'all': 88},
 'cod': 200,
 'coord': {'lat': 71.98, 'lon': 102.47},
 'dt': 1554337059,
 'id': 2022572,
 'main': {'grnd_level': 1001.81,
          'humidity': 88,
          'pressure': 1006.64,
          'sea_level': 1006.64,
          'temp': 17.06,
          'temp_max': 17.06,
          'temp_min': 17.06},
 'name': 'Khatanga',
 'sys': {'country': 'RU',
         'message': 0.0039,
         'sunrise': 1554328390,
         'sunset': 1554381183},
 'weather': [{'description': 'overcast clouds',
              'icon': '04d',
              'id': 804,
              'main': 'Clouds'}],
 'wind': {'deg': 325.501, 'speed': 9.98}}

22
{'base': 'stations',
 'clouds': {'all': 75},
 'cod': 200,
 'coord': {'lat': -54.81, 'lon': -68.31},
 'dt': 1554332400,
 'id': 3833367,
 'main': {'humidity': 84,
          'pressure': 984,
          'temp': 41,
          'temp_max': 41,
          'temp_min': 41},
 'name': 'Ushuaia',
 'sys': {'country': 'AR',
         'id': 8303,
         'message': 0.0087,
         'sunrise': 1554289240,
         'sunset': 1554329528,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'shower rain',
              'icon': '09n',
              'id': 521,
              'main': 'Rain'}],
 'wind': {'deg': 230, 'gust': 20.1, 'speed': 33.33}}

23
{'base': 'stations',
 'clouds': {'all': 1},
 'cod': 200,
 'coord': {'lat': 60.79, 'lon': -161.76},
 'dt': 1554332160,
 'id': 5880568,
 'main': {'humidity': 52,
          'pressure': 1005,
          'temp': 40.24,
          'temp_max': 42.8,
          'temp_min': 35.6},
 'name': 'Bethel',
 'sys': {'country': 'US',
         'id': 7640,
         'message': 0.0046,
         'sunrise': 1554307465,
         'sunset': 1554356149,
         'type': 1},
 'visibility': 16093,
 'weather': [{'description': 'clear sky',
              'icon': '01d',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 40, 'gust': 13.9, 'speed': 21.92}}

24
{'base': 'stations',
 'clouds': {'all': 20},
 'cod': 200,
 'coord': {'lat': 33.72, 'lon': 135.99},
 'dt': 1554332400,
 'id': 1847947,
 'main': {'humidity': 100,
          'pressure': 1020,
          'temp': 50,
          'temp_max': 50,
          'temp_min': 50},
 'name': 'Shingu',
 'sys': {'country': 'JP',
         'id': 7959,
         'message': 0.0031,
         'sunrise': 1554324028,
         'sunset': 1554369460,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'few clouds',
              'icon': '02n',
              'id': 801,
              'main': 'Clouds'}],
 'wind': {'deg': 360, 'speed': 6.93}}

25
{'base': 'stations',
 'clouds': {'all': 20},
 'cod': 200,
 'coord': {'lat': 42.65, 'lon': -73.75},
 'dt': 1554337055,
 'id': 5106834,
 'main': {'humidity': 39,
          'pressure': 1019,
          'temp': 40.93,
          'temp_max': 45,
          'temp_min': 36},
 'name': 'Albany',
 'sys': {'country': 'US',
         'id': 3273,
         'message': 0.0066,
         'sunrise': 1554287643,
         'sunset': 1554333734,
         'type': 1},
 'visibility': 16093,
 'weather': [{'description': 'few clouds',
              'icon': '02n',
              'id': 801,
              'main': 'Clouds'}],
 'wind': {'deg': 290, 'gust': 12.3, 'speed': 18.34}}

26
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': -38.31, 'lon': -60.23},
 'dt': 1554336814,
 'id': 3833859,
 'main': {'grnd_level': 992.45,
          'humidity': 41,
          'pressure': 1004.12,
          'sea_level': 1004.12,
          'temp': 65.03,
          'temp_max': 65.03,
          'temp_min': 65.03},
 'name': 'Barrow',
 'sys': {'country': 'AR',
         'message': 0.0036,
         'sunrise': 1554286592,
         'sunset': 1554328298},
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 351.001, 'speed': 13}}

27

{'base': 'stations',
 'clouds': {'all': 68},
 'cod': 200,
 'coord': {'lat': -42.48, 'lon': -73.76},
 'dt': 1554332400,
 'id': 3896218,
 'main': {'humidity': 93,
          'pressure': 1002,
          'temp': 50,
          'temp_max': 50,
          'temp_min': 50},
 'name': 'Castro',
 'rain': {'3h': 2.0375},
 'sys': {'country': 'CL',
         'id': 8512,
         'message': 0.0037,
         'sunrise': 1554289984,
         'sunset': 1554331398,
         'type': 1},
 'weather': [{'description': 'light rain',
              'icon': '10n',
              'id': 500,
              'main': 'Rain'}],
 'wind': {'deg': 170, 'speed': 9.17}}

28
{'base': 'stations',
 'clouds': {'all': 76},
 'cod': 200,
 'coord': {'lat': -46.28, 'lon': 169.85},
 'dt': 1554337019,
 'id': 2208248,
 'main': {'humidity': 79,
          'pressure': 1020,
          'temp': 55,
          'temp_max': 55,
          'temp_min': 55},
 'name': 'Kaitangata',
 'rain': {'3h': 0.0075},
 'sys': {'country': 'NZ',
         'id': 2000217,
         'message': 0.0039,
         'sunrise': 1554318091,
         'sunset': 1554359147,
         'type': 3},
 'weather': [{'description': 'broken clouds',
              'icon': '04d',
              'id': 803,
              'main': 'Clouds'}],
 'wind': {'deg': 270, 'gust': 0.89, 'speed': 1.99}}

29
{'base': 'stations',
 'clouds': {'all': 20},
 'cod': 200,
 'coord': {'lat': 61.4, 'lon': 128.95},
 'dt': 1554337061,
 'id': 2019867,
 'main': {'grnd_level': 981.57,
          'humidity': 71,
          'pressure': 1013,
          'sea_level': 1013,
          'temp': 30.56,
          'temp_max': 30.56,
          'temp_min': 30.56},
 'name': 'Mokhsogollokh',
 'sys': {'country': 'RU',
         'message': 0.003,
         'sunrise': 1554323989,
         'sunset': 1554372877},
 'weather': [{'description': 'few clouds',
              'icon': '02d',
              'id': 801,
              'main': 'Clouds'}],
 'wind': {'deg': 108.001, 'speed': 3.6}}

30
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': -16.48, 'lon': -151.75},
 'dt': 1554337062,
 'id': 4034551,
 'main': {'grnd_level': 1012.29,
          'humidity': 100,
          'pressure': 1012.4,
          'sea_level': 1012.4,
          'temp': 84.56,
          'temp_max': 84.56,
          'temp_min': 84.56},
 'name': 'Faanui',
 'sys': {'country': 'PF',
         'message': 0.0033,
         'sunrise': 1554307978,
         'sunset': 1554350832},
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 55.5015, 'speed': 6.85}}

31
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 25.34, 'lon': 30.55},
 'dt': 1554337062,
 'id': 360923,
 'main': {'grnd_level': 996.21,
          'humidity': 34,
          'pressure': 1010.16,
          'sea_level': 1010.16,
          'temp': 56.39,
          'temp_max': 56.39,
          'temp_min': 56.39},
 'name': 'Port Said',
 'sys': {'country': 'EG',
         'message': 0.0031,
         'sunrise': 1554349589,
         'sunset': 1554394499},
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 318.501, 'speed': 6.17}}

32
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 44.45, 'lon': 25.08},
 'dt': 1554337062,
 'id': 683100,
 'main': {'grnd_level': 1002.05,
          'humidity': 48,
          'pressure': 1019.4,
          'sea_level': 1019.4,
          'temp': 40.91,
          'temp_max': 40.91,
          'temp_min': 40.91},
 'name': 'Palanga',
 'sys': {'country': 'RO',
         'message': 0.0039,
         'sunrise': 1554350160,
         'sunset': 1554396553},
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 99.5015, 'speed': 11.77}}

33
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 48.94, 'lon': 2.33},
 'dt': 1554337028,
 'id': 6451986,
 'main': {'humidity': 75,
          'pressure': 999,
          'temp': 36.73,
          'temp_max': 41,
          'temp_min': 32},
 'name': 'Villeneuve-la-Garenne',
 'sys': {'country': 'FR',
         'id': 6540,
         'message': 0.0047,
         'sunrise': 1554355362,
         'sunset': 1554402269,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 210.501, 'speed': 3.49}}

34
{'base': 'stations',
 'clouds': {'all': 32},
 'cod': 200,
 'coord': {'lat': -5.56, 'lon': -80.82},
 'dt': 1554337063,
 'id': 3691954,
 'main': {'grnd_level': 1008.69,
          'humidity': 74,
          'pressure': 1011.44,
          'sea_level': 1011.44,
          'temp': 77.27,
          'temp_max': 77.27,
          'temp_min': 77.27},
 'name': 'Sechura',
 'sys': {'country': 'PE',
         'message': 0.0032,
         'sunrise': 1554290708,
         'sunset': 1554334062},
 'weather': [{'description': 'scattered clouds',
              'icon': '03n',
              'id': 802,
              'main': 'Clouds'}],
 'wind': {'deg': 189.001, 'speed': 13}}

35
{'base': 'stations',
 'clouds': {'all': 40},
 'cod': 200,
 'coord': {'lat': 41.82, 'lon': 140.65},
 'dt': 1554332400,
 'id': 2129766,
 'main': {'humidity': 65,
          'pressure': 1010,
          'temp': 41,
          'temp_max': 41,
          'temp_min': 41},
 'name': 'Kamiiso',
 'sys': {'country': 'JP',
         'id': 7974,
         'message': 0.0039,
         'sunrise': 1554322584,
         'sunset': 1554368668,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'scattered clouds',
              'icon': '03n',
              'id': 802,
              'main': 'Clouds'}],
 'wind': {'deg': 290, 'speed': 5.82}}

36
{'base': 'stations',
 'clouds': {'all': 88},
 'cod': 200,
 'coord': {'lat': 3.07, 'lon': 172.79},
 'dt': 1554336925,
 'id': 2110227,
 'main': {'grnd_level': 1011.81,
          'humidity': 100,
          'pressure': 1012,
          'sea_level': 1012,
          'temp': 78.26,
          'temp_max': 78.26,
          'temp_min': 78.26},
 'name': 'Butaritari',
 'rain': {'3h': 2.6825},
 'sys': {'country': 'KI',
         'message': 0.0031,
         'sunrise': 1554316043,
         'sunset': 1554359784},
 'weather': [{'description': 'light rain',
              'icon': '10d',
              'id': 500,
              'main': 'Rain'}],
 'wind': {'deg': 25.5015, 'speed': 2.48}}

37
{'base': 'stations',
 'clouds': {'all': 88},
 'cod': 200,
 'coord': {'lat': 77.48, 'lon': -69.36},
 'dt': 1554337064,
 'id': 3831208,
 'main': {'grnd_level': 956.45,
          'humidity': 82,
          'pressure': 988.64,
          'sea_level': 988.64,
          'temp': 10.22,
          'temp_max': 10.22,
          'temp_min': 10.22},
 'name': 'Qaanaaq',
 'sys': {'country': 'GL',
         'message': 0.0033,
         'sunrise': 1554281104,
         'sunset': 1554338167},
 'weather': [{'description': 'overcast clouds',
              'icon': '04n',
              'id': 804,
              'main': 'Clouds'}],
 'wind': {'deg': 109.501, 'speed': 6.62}}

38
{'base': 'stations',
 'clouds': {'all': 5},
 'cod': 200,
 'coord': {'lat': 23.22, 'lon': -106.42},
 'dt': 1554336931,
 'id': 3996322,
 'main': {'humidity': 73,
          'pressure': 1015,
          'temp': 76.75,
          'temp_max': 77,
          'temp_min': 75.99},
 'name': 'Mazatlan',
 'sys': {'country': 'MX',
         'id': 7147,
         'message': 0.0043,
         'sunrise': 1554296161,
         'sunset': 1554340895,
         'type': 1},
 'visibility': 24140,
 'weather': [{'description': 'clear sky',
              'icon': '02n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 270, 'speed': 4.7}}

39
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 34.5, 'lon': 109.46},
 'dt': 1554332400,
 'id': 1791636,
 'main': {'humidity': 53,
          'pressure': 1019,
          'temp': 51.8,
          'temp_max': 51.8,
          'temp_min': 51.8},
 'name': 'Weinan',
 'sys': {'country': 'CN',
         'id': 9645,
         'message': 0.0032,
         'sunrise': 1554330361,
         'sunset': 1554375859,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 10, 'speed': 2.24}}

40

{'base': 'stations',
 'clouds': {'all': 68},
 'cod': 200,
 'coord': {'lat': 68.82, 'lon': -51.19},
 'dt': 1554335400,
 'id': 3420768,
 'main': {'humidity': 85,
          'pressure': 1014,
          'temp': 17.6,
          'temp_max': 17.6,
          'temp_min': 17.6},
 'name': 'Qasigiannguit',
 'sys': {'country': 'GL',
         'id': 165,
         'message': 0.0034,
         'sunrise': 1554279806,
         'sunset': 1554330746,
         'type': 1},
 'weather': [{'description': 'light snow',
              'icon': '13n',
              'id': 600,
              'main': 'Snow'}],
 'wind': {'deg': 190, 'speed': 14.99}}

41
{'base': 'stations',
 'clouds': {'all': 75},
 'cod': 200,
 'coord': {'lat': 36.58, 'lon': 137.08},
 'dt': 1554336940,
 'id': 1849876,
 'main': {'humidity': 52,
          'pressure': 1017,
          'temp': 44.47,
          'temp_max': 48,
          'temp_min': 42.8},
 'name': 'Yamada',
 'sys': {'country': 'JP',
         'id': 8020,
         'message': 0.0041,
         'sunrise': 1554323660,
         'sunset': 1554369305,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'light intensity shower rain',
              'icon': '09d',
              'id': 520,
              'main': 'Rain'}],
 'wind': {'deg': 170, 'speed': 6.93}}

42
{'base': 'stations',
 'clouds': {'all': 92},
 'cod': 200,
 'coord': {'lat': 53.24, 'lon': 40.29},
 'dt': 1554337065,
 'id': 510911,
 'main': {'grnd_level': 1001.81,
          'humidity': 73,
          'pressure': 1021.72,
          'sea_level': 1021.72,
          'temp': 31.19,
          'temp_max': 31.19,
          'temp_min': 31.19},
 'name': 'Pervomayskiy',
 'sys': {'country': 'RU',
         'message': 0.0035,
         'sunrise': 1554345978,
         'sunset': 1554393436},
 'weather': [{'description': 'overcast clouds',
              'icon': '04n',
              'id': 804,
              'main': 'Clouds'}],
 'wind': {'deg': 32.5015, 'speed': 10.98}}

43
{'base': 'stations',
 'clouds': {'all': 100},
 'cod': 200,
 'coord': {'lat': -46.19, 'lon': 168.86},
 'dt': 1554336607,
 'id': 6201424,
 'main': {'humidity': 92,
          'pressure': 1024,
          'temp': 53.01,
          'temp_max': 53.01,
          'temp_min': 53.01},
 'name': 'Mataura',
 'rain': {'3h': 2.905},
 'sys': {'country': 'NZ',
         'id': 2008959,
         'message': 0.0038,
         'sunrise': 1554318325,
         'sunset': 1554359388,
         'type': 3},
 'weather': [{'description': 'light rain',
              'icon': '10d',
              'id': 500,
              'main': 'Rain'}],
 'wind': {'deg': 218, 'gust': 3.13, 'speed': 1.99}}

44
{'cod': '404', 'message': 'city not found'}
City not found... skipping.
------------
45
{'base': 'stations',
 'clouds': {'all': 36},
 'cod': 200,
 'coord': {'lat': 58.71, 'lon': 81.5},
 'dt': 1554337066,
 'id': 1495586,
 'main': {'grnd_level': 1019.73,
          'humidity': 79,
          'pressure': 1027.04,
          'sea_level': 1027.04,
          'temp': 18.68,
          'temp_max': 18.68,
          'temp_min': 18.68},
 'name': 'Parabel',
 'sys': {'country': 'RU',
         'message': 0.0032,
         'sunrise': 1554335640,
         'sunset': 1554383997},
 'weather': [{'description': 'scattered clouds',
              'icon': '03d',
              'id': 802,
              'main': 'Clouds'}],
 'wind': {'deg': 168.001, 'speed': 2.26}}

46
{'base': 'stations',
 'clouds': {'all': 8},
 'cod': 200,
 'coord': {'lat': -33.64, 'lon': 115.35},
 'dt': 1554336915,
 'id': 2075265,
 'main': {'humidity': 57,
          'pressure': 1008,
          'temp': 61.61,
          'temp_max': 64.99,
          'temp_min': 59},
 'name': 'Busselton',
 'sys': {'country': 'AU',
         'id': 2011706,
         'message': 0.0036,
         'sunrise': 1554330731,
         'sunset': 1554372661,
         'type': 3},
 'weather': [{'description': 'clear sky',
              'icon': '02d',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 231.001, 'speed': 19.26}}

47
{'base': 'stations',
 'clouds': {'all': 92},
 'cod': 200,
 'coord': {'lat': 7.53, 'lon': -12.5},
 'dt': 1554337066,
 'id': 2409914,
 'main': {'grnd_level': 1008.53,
          'humidity': 86,
          'pressure': 1011.28,
          'sea_level': 1011.28,
          'temp': 80.06,
          'temp_max': 80.06,
          'temp_min': 80.06},
 'name': 'Bonthe',
 'sys': {'country': 'SL',
         'message': 0.0033,
         'sunrise': 1554360394,
         'sunset': 1554404354},
 'weather': [{'description': 'overcast clouds',
              'icon': '04n',
              'id': 804,
              'main': 'Clouds'}],
 'wind': {'deg': 301.001, 'speed': 5.39}}

48
{'base': 'stations',
 'clouds': {'all': 20},
 'cod': 200,
 'coord': {'lat': 55.74, 'lon': -97.86},
 'dt': 1554332400,
 'id': 6165406,
 'main': {'humidity': 37,
          'pressure': 1021,
          'temp': 19.4,
          'temp_max': 19.4,
          'temp_min': 19.4},
 'name': 'Thompson',
 'sys': {'country': 'CA',
         'id': 935,
         'message': 0.0038,
         'sunrise': 1554292633,
         'sunset': 1554340315,
         'type': 1},
 'visibility': 24140,
 'weather': [{'description': 'few clouds',
              'icon': '02d',
              'id': 801,
              'main': 'Clouds'}],
 'wind': {'deg': 40, 'speed': 3.36}}

49
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': -9.8, 'lon': -139.03},
 'dt': 1554336907,
 'id': 4020109,
 'main': {'grnd_level': 1010.93,
          'humidity': 100,
          'pressure': 1010.96,
          'sea_level': 1010.96,
          'temp': 81.86,
          'temp_max': 81.86,
          'temp_min': 81.86},
 'name': 'Atuona',
 'sys': {'country': 'PF',
         'message': 0.0036,
         'sunrise': 1554304772,
         'sunset': 1554347933},
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 89.0015, 'speed': 14}}

50
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': -33.75, 'lon': -61.97},
 'dt': 1554336863,
 'id': 3833062,
 'main': {'humidity': 32,
          'pressure': 1008,
          'temp': 64.99,
          'temp_max': 64.99,
          'temp_min': 64.99},
 'name': 'Venado Tuerto',
 'sys': {'country': 'AR',
         'id': 2011346,
         'message': 0.0034,
         'sunrise': 1554286869,
         'sunset': 1554328855,
         'type': 3},
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 90, 'gust': 1.79, 'speed': 1.99}}

51
{'cod': '404', 'message': 'city not found'}
City not found... skipping.
------------
52
{'cod': '404', 'message': 'city not found'}
City not found... skipping.
------------
53
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 10.06, 'lon': -72.55},
 'dt': 1554337067,
 'id': 3633444,
 'main': {'grnd_level': 915.57,
          'humidity': 57,
          'pressure': 1012.4,
          'sea_level': 1012.4,
          'temp': 74.03,
          'temp_max': 74.03,
          'temp_min': 74.03},
 'name': 'Machiques',
 'sys': {'country': 'VE',
         'message': 0.0035,
         'sunrise': 1554288372,
         'sunset': 1554332430},
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 33.5015, 'speed': 7.18}}

54
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 45.22, 'lon': 36.72},
 'dt': 1554334200,
 'id': 484670,
 'main': {'humidity': 86,
          'pressure': 1020,
          'temp': 38.75,
          'temp_max': 39,
          'temp_min': 37.4},
 'name': 'Taman',
 'sys': {'country': 'RU',
         'id': 8962,
         'message': 0.0047,
         'sunrise': 1554347330,
         'sunset': 1554393797,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 310, 'speed': 6.71}}

55
{'base': 'stations',
 'clouds': {'all': 76},
 'cod': 200,
 'coord': {'lat': 67.68, 'lon': 53.15},
 'dt': 1554337068,
 'id': 866062,
 'main': {'grnd_level': 1012.53,
          'humidity': 91,
          'pressure': 1015.52,
          'sea_level': 1015.52,
          'temp': 24.17,
          'temp_max': 24.17,
          'temp_min': 24.17},
 'name': 'Iskateley',
 'sys': {'country': 'RU',
         'message': 0.0043,
         'sunrise': 1554341203,
         'sunset': 1554392039},
 'weather': [{'description': 'broken clouds',
              'icon': '04n',
              'id': 803,
              'main': 'Clouds'}],
 'wind': {'deg': 243.001, 'speed': 12.44}}

56

{'base': 'stations',
 'clouds': {'all': 24},
 'cod': 200,
 'coord': {'lat': 15.34, 'lon': 74.49},
 'dt': 1554337068,
 'id': 1273574,
 'main': {'grnd_level': 946.93,
          'humidity': 91,
          'pressure': 1011.12,
          'sea_level': 1011.12,
          'temp': 67.1,
          'temp_max': 67.1,
          'temp_min': 67.1},
 'name': 'Vaini',
 'sys': {'country': 'IN',
         'message': 0.0032,
         'sunrise': 1554339329,
         'sunset': 1554383672},
 'weather': [{'description': 'few clouds',
              'icon': '02n',
              'id': 801,
              'main': 'Clouds'}],
 'wind': {'deg': 93.5015, 'speed': 2.48}}

57
{'base': 'stations',
 'clouds': {'all': 90},
 'cod': 200,
 'coord': {'lat': 26.35, 'lon': 127.87},
 'dt': 1554336154,
 'id': 1863495,
 'main': {'humidity': 60,
          'pressure': 1022,
          'temp': 67.05,
          'temp_max': 68,
          'temp_min': 64.4},
 'name': 'Gushikawa',
 'sys': {'country': 'JP',
         'id': 8156,
         'message': 0.0037,
         'sunrise': 1554326218,
         'sunset': 1554371166,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'overcast clouds',
              'icon': '04d',
              'id': 804,
              'main': 'Clouds'}],
 'wind': {'deg': 50, 'speed': 10.29}}

58
{'base': 'stations',
 'clouds': {'all': 75},
 'cod': 200,
 'coord': {'lat': 50.94, 'lon': -2.63},
 'dt': 1554337032,
 'id': 2633373,
 'main': {'humidity': 93,
          'pressure': 994,
          'temp': 37.81,
          'temp_max': 39.99,
          'temp_min': 36},
 'name': 'Yeovil',
 'sys': {'country': 'GB',
         'id': 1396,
         'message': 0.0115,
         'sunrise': 1554356423,
         'sunset': 1554403588,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'light intensity shower rain',
              'icon': '09n',
              'id': 520,
              'main': 'Rain'}],
 'wind': {'deg': 150, 'speed': 5.82}}

59
{'cod': '404', 'message': 'city not found'}
City not found... skipping.
------------
60
{'base': 'stations',
 'clouds': {'all': 75},
 'cod': 200,
 'coord': {'lat': 8.96, 'lon': 38.73},
 'dt': 1554332400,
 'id': 344979,
 'main': {'humidity': 82,
          'pressure': 1028,
          'temp': 57.2,
          'temp_max': 57.2,
          'temp_min': 57.2},
 'name': 'Lebu',
 'sys': {'country': 'ET',
         'id': 2453,
         'message': 0.004,
         'sunrise': 1554348068,
         'sunset': 1554392094,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'moderate rain',
              'icon': '10n',
              'id': 501,
              'main': 'Rain'}],
 'wind': {'deg': 40, 'speed': 9.17}}

61
{'cod': '404', 'message': 'city not found'}
City not found... skipping.
------------
62
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 29.14, 'lon': 21.3},
 'dt': 1554337070,
 'id': 88533,
 'main': {'grnd_level': 1010.29,
          'humidity': 53,
          'pressure': 1013.84,
          'sea_level': 1013.84,
          'temp': 56.21,
          'temp_max': 56.21,
          'temp_min': 56.21},
 'name': 'Awjilah',
 'sys': {'country': 'LY',
         'message': 0.0034,
         'sunrise': 1554351687,
         'sunset': 1554396840},
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 329.001, 'speed': 5.17}}

63
{'base': 'stations',
 'clouds': {'all': 76},
 'cod': 200,
 'coord': {'lat': -6.13, 'lon': 12.37},
 'dt': 1554337070,
 'id': 2236967,
 'main': {'grnd_level': 1002.85,
          'humidity': 91,
          'pressure': 1008.68,
          'sea_level': 1008.68,
          'temp': 81.23,
          'temp_max': 81.23,
          'temp_min': 81.23},
 'name': 'Soyo',
 'sys': {'country': 'AO',
         'message': 0.0047,
         'sunrise': 1554354749,
         'sunset': 1554398064},
 'weather': [{'description': 'broken clouds',
              'icon': '04n',
              'id': 803,
              'main': 'Clouds'}],
 'wind': {'deg': 196.001, 'speed': 3.94}}

64
{'base': 'stations',
 'clouds': {'all': 40},
 'cod': 200,
 'coord': {'lat': 6.8, 'lon': -58.16},
 'dt': 1554332400,
 'id': 3378644,
 'main': {'humidity': 78,
          'pressure': 1012,
          'temp': 80.42,
          'temp_max': 82.4,
          'temp_min': 78.8},
 'name': 'Georgetown',
 'sys': {'country': 'GY',
         'id': 8776,
         'message': 0.0054,
         'sunrise': 1554284995,
         'sunset': 1554328901,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'scattered clouds',
              'icon': '03n',
              'id': 802,
              'main': 'Clouds'}],
 'wind': {'deg': 40, 'speed': 11.41}}

65
{'base': 'stations',
 'clouds': {'all': 44},
 'cod': 200,
 'coord': {'lat': 65.61, 'lon': -37.64},
 'dt': 1554335400,
 'id': 3424607,
 'main': {'humidity': 83,
          'pressure': 1004,
          'temp': 32,
          'temp_max': 32,
          'temp_min': 32},
 'name': 'Tasiilaq',
 'sys': {'country': 'GL',
         'id': 81,
         'message': 0.0055,
         'sunrise': 1554277125,
         'sunset': 1554326923,
         'type': 1},
 'weather': [{'description': 'scattered clouds',
              'icon': '03n',
              'id': 802,
              'main': 'Clouds'}],
 'wind': {'deg': 120, 'speed': 4.7}}

66
{'base': 'stations',
 'clouds': {'all': 20},
 'cod': 200,
 'coord': {'lat': 19.71, 'lon': -155.08},
 'dt': 1554336808,
 'id': 5855927,
 'main': {'humidity': 61,
          'pressure': 1020,
          'temp': 74.14,
          'temp_max': 80.6,
          'temp_min': 69.01},
 'name': 'Hilo',
 'sys': {'country': 'US',
         'id': 7881,
         'message': 0.0039,
         'sunrise': 1554307928,
         'sunset': 1554352480,
         'type': 1},
 'visibility': 16093,
 'weather': [{'description': 'few clouds',
              'icon': '02n',
              'id': 801,
              'main': 'Clouds'}],
 'wind': {'deg': 50, 'speed': 12.75}}

67
{'base': 'stations',
 'clouds': {'all': 80},
 'cod': 200,
 'coord': {'lat': -8.93, 'lon': 125.41},
 'dt': 1554337071,
 'id': 1651810,
 'main': {'grnd_level': 936.05,
          'humidity': 73,
          'pressure': 1011.8,
          'sea_level': 1011.8,
          'temp': 74.03,
          'temp_max': 74.03,
          'temp_min': 74.03},
 'name': 'Airai',
 'sys': {'country': 'TL',
         'message': 0.0028,
         'sunrise': 1554327686,
         'sunset': 1554370879},
 'weather': [{'description': 'broken clouds',
              'icon': '04d',
              'id': 803,
              'main': 'Clouds'}],
 'wind': {'deg': 97.0015, 'speed': 1.14}}

68
{'base': 'stations',
 'clouds': {'all': 20},
 'cod': 200,
 'coord': {'lat': -42.78, 'lon': 147.06},
 'dt': 1554336976,
 'id': 2155415,
 'main': {'humidity': 57,
          'pressure': 1037,
          'temp': 56.17,
          'temp_max': 57.99,
          'temp_min': 51.8},
 'name': 'New Norfolk',
 'sys': {'country': 'AU',
         'id': 9545,
         'message': 0.0033,
         'sunrise': 1554323425,
         'sunset': 1554364750,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'few clouds',
              'icon': '02d',
              'id': 801,
              'main': 'Clouds'}],
 'wind': {'deg': 310, 'speed': 10.29}}

69
{'cod': '404', 'message': 'city not found'}
City not found... skipping.
------------
70
{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 26.5, 'lon': 77.03},
 'dt': 1554337072,
 'id': 1267819,
 'main': {'grnd_level': 976.45,
          'humidity': 46,
          'pressure': 1008.52,
          'sea_level': 1008.52,
          'temp': 67.73,
          'temp_max': 67.73,
          'temp_min': 67.73},
 'name': 'Karauli',
 'sys': {'country': 'IN',
         'message': 0.003,
         'sunrise': 1554338406,
         'sunset': 1554383376},
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 72.5015, 'speed': 2.71}}

71
{'base': 'stations',
 'clouds': {'all': 8},
 'cod': 200,
 'coord': {'lat': 30.96, 'lon': 74.61},
 'dt': 1554333900,
 'id': 1271883,
 'main': {'humidity': 73,
          'pressure': 1010,
          'temp': 69.8,
          'temp_max': 69.8,
          'temp_min': 69.8},
 'name': 'Firozpur',
 'sys': {'country': 'IN',
         'id': 7585,
         'message': 0.0042,
         'sunrise': 1554338842,
         'sunset': 1554384101,
         'type': 1},
 'visibility': 4000,
 'weather': [{'description': 'smoke',
              'icon': '50n',
              'id': 711,
              'main': 'Smoke'}],
 'wind': {'deg': 50, 'speed': 3.36}}

72

{'base': 'stations',
 'clouds': {'all': 0},
 'cod': 200,
 'coord': {'lat': 59.7, 'lon': 30.79},
 'dt': 1554336936,
 'id': 546105,
 'main': {'humidity': 34,
          'pressure': 1024,
          'temp': 32.07,
          'temp_max': 35.6,
          'temp_min': 27},
 'name': 'Nikolskoye',
 'sys': {'country': 'RU',
         'id': 8926,
         'message': 0.0037,
         'sunrise': 1554347685,
         'sunset': 1554396288,
         'type': 1},
 'visibility': 10000,
 'weather': [{'description': 'clear sky',
              'icon': '01n',
              'id': 800,
              'main': 'Clear'}],
 'wind': {'deg': 120, 'speed': 4.47}}

In [20]:
cities_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 9 columns):
City          73 non-null object
Country       73 non-null object
Date          73 non-null object
Latitude      73 non-null object
Longitude     73 non-null object
Cloudiness    73 non-null object
Max_Temp      73 non-null object
Humidity      73 non-null object
Wind_Speed    73 non-null object
dtypes: object(9)
memory usage: 5.2+ KB

In [18]:
cities_weather.tail()

,City,Country,Date,Latitude,Longitude,Cloudiness,Max_Temp,Humidity,Wind_Speed
68,new norfolk,AU,1554336976,-42.78,147.06,20,57.99,57,10.29
69,grand river south east,,,,,,,,
70,karauli,IN,1554337072,26.5,77.03,0,67.73,46,2.71
71,firozpur,IN,1554333900,30.96,74.61,8,69.8,73,3.36
72,nikolskoye,RU,1554336936,59.7,30.79,0,35.6,34,4.47

In [68]:
# Drop rows with any empty cells
cities_weather.dropna(axis=0, how='any', inplace=True)
cities_weather

,City,Country,Date,Latitude,Longitude,Cloudiness,Max_Temp,Humidity,Wind_Speed
0,baker,US,1554268500,46.37,-104.28,1,28.4,74,3.36
1,marystown,CA,1554270367,47.17,-55.16,0,28.99,100,11.54
2,barentsburg,,,,,,,,
3,rikitea,PF,1554270464,-23.12,-134.97,44,75.37,100,16.91
4,ushuaia,AR,1554267600,-54.81,-68.31,40,39.2,93,4.7
5,matara,PE,1554270626,-13.74,-72.9,36,38.29,97,2.04
6,tasiilaq,GL,1554267000,65.61,-37.64,92,32,93,46.08
7,port alfred,ZA,1554270350,-33.59,26.89,68,62.01,92,21.39
8,atuona,PF,1554270501,-9.8,-139.03,68,81.85,100,12.77
9,jamestown,AU,1554270262,-33.21,138.6,0,77.08,40,5.95
10,challans,FR,1554270780,46.85,-1.88,75,43,93,5.82
11,hithadhoo,MV,1554270286,-0.6,73.08,76,84.73,100,9.75
12,hilo,US,1554270450,19.71,-155.08,75,75,78,12.75
13,mataura,NZ,1554270006,-46.19,168.86,0,57,67,3
14,luanda,AO,1554267600,-8.83,13.24,75,75.2,94,3.36
15,saskylakh,RU,1554270488,71.97,114.09,80,30.64,100,4.61
16,sentyabrskiy,,,,,,,,
17,cabo san lucas,MX,1554270346,22.89,-109.91,5,73.4,40,11.41
18,port blair,IN,1554270540,11.67,92.75,0,84.82,100,5.95
19,vaitupu,,,,,,,,
20,busselton,AU,1554270364,-33.64,115.35,0,80.01,31,5.5
21,acapulco,MX,1554266940,16.86,-99.88,5,78.8,83,4.7
22,yellowknife,CA,1554270228,62.45,-114.38,5,1.4,70,8.05
23,castro,CL,1554267600,-42.48,-73.76,20,44.6,100,5.82
24,hofn,IS,1554270563,64.25,-15.21,0,26.68,100,1.7
25,forbes,AU,1554270513,-33.38,148.01,0,81,30,4.5
26,harrisburg,US,1554270794,40.27,-76.89,1,39.2,80,4.7
27,pevek,RU,1554270474,69.7,170.27,0,23.08,66,6.4
28,ajra,IN,1554267600,16.12,74.21,0,91.4,15,6.93
29,barrow,AR,1554270468,-38.31,-60.23,0,52.51,91,5.06
...,...,...,...,...,...,...,...,...,...
582,palasa,,,,,,,,
583,lamar,US,1554270354,38.09,-102.62,90,46.4,65,13.87
584,bandipur,IN,1554271163,11.67,76.63,0,88.96,34,2.04
585,haines junction,CA,1554271163,60.75,-137.51,64,27.76,93,2.59
586,jiayuguan,CN,1554271128,39.77,98.29,44,48.91,70,4.94
587,young,UY,1554271164,-32.7,-57.63,12,64.48,94,11.77
588,sorvag,,,,,,,,
589,uyemskiy,RU,1554269400,64.47,40.85,20,35.6,64,6.71
590,havre-saint-pierre,CA,1554267600,50.23,-63.6,40,23,85,9.17
591,sola,NO,1554271088,58.89,5.65,75,48.2,49,17.22
592,bacsay,PH,1554267600,15.65,120.33,75,91.4,49,2.24
593,navahrudak,BY,1554271165,53.59,25.82,0,36.04,58,11.77
594,shimoda,JP,1554270912,34.7,138.93,40,60.01,18,10.29
595,ahipara,NZ,1554271069,-35.17,173.16,92,64.21,98,9.75
596,ponta delgada,PT,1554271160,37.73,-25.67,75,55.4,76,10.29
597,pitimbu,BR,1554267600,-7.47,-34.81,40,77,94,4.7
598,tuban,ID,1554271166,-6.9,112.07,24,86.08,85,4.16
599,fort smith,US,1554271161,35.39,-94.42,1,53.6,87,3.71
600,lolua,,,,,,,,
601,samusu,,,,,,,,
602,mabaruma,GY,1554271167,8.2,-59.78,12,73.84,93,5.17
603,waipawa,NZ,1554270736,-39.94,176.59,92,54,70,1.99
604,murray bridge,AU,1554270970,-35.12,139.28,68,75.99,40,1.01
605,socoltenango,MX,1554271168,16.22,-92.25,0,60.61,100,3.71
606,eufaula,US,1554271123,31.89,-85.15,1,52,93,4.38
607,yomou,GN,1554271169,7.57,-9.26,76,68.98,93,2.82
608,mae hong son,MM,1554267600,19.3,97.96,0,93.2,30,3.36
609,kiruna,SE,1554268800,67.86,20.23,32,21.2,85,10.29
610,necochea,AR,1554271089,-38.55,-58.74,0,51.01,51,5.01
611,ushirombo,TZ,1554271170,-3.47,31.9,88,68.53,92,1.7

In [69]:
cities_weather.count()

City          612
Country       612
Date          612
Latitude      612
Longitude     612
Cloudiness    612
Max_Temp      612
Humidity      612
Wind_Speed    612
dtype: int64

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [64]:
cities_weather.head()

,City,Country,Date,Latitude,Longitude,Cloudiness,Max_Temp,Humidity,Wind_Speed
0,baker,US,1554268500,46.37,-104.28,1,28.4,74,3.36
1,marystown,CA,1554270367,47.17,-55.16,0,28.99,100,11.54
2,barentsburg,,,,,,,,
3,rikitea,PF,1554270464,-23.12,-134.97,44,75.37,100,16.91
4,ushuaia,AR,1554267600,-54.81,-68.31,40,39.2,93,4.7

In [40]:
cities_weather.to_csv('cities_weather.csv',index=False)

In [71]:
cities_weather.dtypes

City          object
Country       object
Date          object
Latitude      object
Longitude     object
Cloudiness    object
Max_Temp      object
Humidity      object
Wind_Speed    object
dtype: object

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

In [76]:
# plt.scatter(cities_weather["Latitude"],cities_weather["Max_Temp"], marker = "o", color="blue", 
#             linewidth=1, markersize=5)
# plt.title("City Latitude vs. Max Temperature (04/02/2019)")
# plt.xlabel("Latitude")
# plt.ylabel("Max Temperature (F)")
# plt.grid()
# plt.show()
# plt.savefig('Lat_vs_MTemp')

#### Latitude vs. Humidity Plot

In [77]:
# plt.scatter(cities_weather["Latitude"],cities_weather["Humidity"], marker = "o", color="blue", 
#             linewidth=1, markersize=5)
# plt.title("City Latitude vs. Humidity (04/02/2019)")
# plt.xlabel("Latitude")
# plt.ylabel("Humidity (%)")
# plt.grid()
# plt.show()
# plt.savefig('Lat_vs_Humidity')

#### Latitude vs. Cloudiness Plot

In [78]:
# plt.scatter(cities_weather["Latitude"],cities_weather["Cloudiness"], marker = "o", color="blue", 
#             linewidth=1, markersize=5)
# plt.title("City Latitude vs. Cloudiness (04/02/2019)")
# plt.xlabel("Latitude")
# plt.ylabel("Cloudiness (%)")
# plt.grid()
# plt.show()
# plt.savefig('Lat_vs_Cloudiness')

#### Latitude vs. Wind Speed Plot

In [79]:
# plt.scatter(cities_weather["Latitude"],cities_weather["Wind_Speed"], marker = "o", color="blue", 
#             linewidth=1, markersize=5)
# plt.title("City Latitude vs. Wind Speed (04/02/2019)")
# plt.xlabel("Latitude")
# plt.ylabel("Wind Speed (mph)")
# plt.grid()
# plt.show()
# plt.savefig('Lat_vs_Wind_Speed')